/* Nascondi il menu mobile di default */

.desktop-menu {
    display: block;
}
.desktop-only {
    display: block;
}


.mobile-menu {
    display: none;
}
.mobile-only {
    display: none;
}
.hamburger-menu {
    display: none;
}

/* Media Query per schermi piccoli */
@media (max-width: 768px) {
    .desktop-menu {
        display: none;
    }
    .desktop-only {
        display: none;
    }
    .hidden {
        display: none;
    }

    .mobile-menu {
        display: block;
    }
    .mobile-only {
        display: block;
    }
    .hamburger-menu {
        display: block;
    }
}
