 <main>
    <section>
        <div>
            <!-- Immagine del prodotto -->
            <img src="#" alt="Bravissimo Batik Grano 500 gr">
        </div>
        <div>
            <!-- Descrizione e dettagli del prodotto -->
            <h1>Bravissimo Batik Grano 500 gr</h1>
            <p><strong>11,90 $</strong></p>
            <div>
                <h2>Scheda Tecnica:</h2>
                <ul>
                    <li>Colore: Grano</li>
                    <li>Composizione: 100% acrilico</li>
                    <li>Strumenti: Uncinetto 3-4</li>
                </ul>
                <p>Cod di Riferimento: 43391047</p>
            </div>
            <!-- Pulsanti di interazione -->
            <div>
                <button>Aggiungi al Carrello 🛒</button>
                <input type="number" value="1" min="1">
                <button>❤</button>
            </div>
        </div>
    </section>
</main>