<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All You Knit - Homepage</title>
</head>

<body>
    <!-- Header con logo e barra di ricerca -->
    <header>
        <div>
            <img src="#" alt="Logo All You Knit">
        </div>
        <div>
            <form action="#" method="get">
                <input type="text" placeholder="Cerca un prodotto">
                <button type="submit">🔍</button>
            </form>
        </div>
        <div>
            <a href="#">Ciao, Maurizio Capuano</a>
            <a href="#">🔔</a>
            <a href="#">🛒</a>
        </div>
    </header>

    <!-- Barra di navigazione -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Filati</a></li>
            <li><a href="#">Tutto Borse</a></li>
            <li><a href="#">Attrezzi</a></li>
            <li><a href="#">Bijoux</a></li>
            <li><a href="#">Editoria</a></li>
            <li><a href="#">Offerte</a></li>
        </ul>
    </nav>

    <!-- Sezione principale con contenuti -->
    <main>
        <!-- remove hardcoded cats, insert here php template params-->
        <section>
            <article>
                <img src="#" alt="Articolo per borse">
                <h2><a href="#">Articoli per Borse</a></h2>
                <p>Manici, fodere e tutto il necessario per realizzare la tua nuova borsa preferita.</p>
            </article>
            <article>
                <img src="#" alt="Filati">
                <h2><a href="#">Filati</a></h2>
                <p>Sfoglia il catalogo e lasciati ispirare dai nostri filati per borse e per ricamo.</p>
            </article>
            <article>
                <img src="#" alt="Bijoux">
                <h2><a href="#">Bijoux</a></h2>
                <p>Filati, cristalli e perline per decorare le tue creazioni.</p>
            </article>
            <article>
                <img src="#" alt="Attrezzi">
                <h2><a href="#">Attrezzi</a></h2>
                <p>Ferri e uncinetti per le tue creazioni di maglia e uncinetto.</p>
            </article>
        </section>
        
    </main>
    <!-- Footer -->
    <footer>
        <p>All You Knit S.p.a</p>
    </footer>
</body>

</html>
