<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All You Knit - Homepage</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" defer></script>

</head>

<body>
    <!-- Header con logo e barra di ricerca -->
    <header class="mainheader">
        <form class="search-bar" action="#" method="get">
            <input type="text" placeholder="Cerca un prodotto">
            <button type="submit">🔍</button>                                       <!--fix me: sostituisci con vettoriale lente-->
        </form>

        <div class="logo">
            <img src="../upload/logos/LOGO2.png" alt="Logo All You Knit">
        </div>

        <div class="loginbanner">
            <a href="./login.html" class="desktop-only">Ciao, Maurizio Capuano</a>
        </div>
        
        <div class="icons">
            <a href="./notifications.html">
                <img src="../upload/icons/bell-solid.svg" alt="Notifiche">
            </a>
            <a href="./cart.html">
                <img src="../upload/icons/cart-shopping-solid.svg" alt="Carrello">
            </a>
        </div>

        <!-- Menu Hamburger -->
        <div class="hamburger-menu">
            <button id="menu-button">
                ☰                                                  <!-- fixme: <img src="../upload/icons/bars-solid.svg" alt="Menu"> -->
            </button>
        </div>

    </header>

    <!-- Barra di navigazione -->
    <nav id="navbar">
        
        <ul class="desktop-menu">
            <li><a href="./base.html">Home</a></li> <!-- diventerà index.html -->
            <li><a href="#">Tutto Borse</a></li>
            <li><a href="#">Filati</a></li>
            <li><a href="#">Attrezzi</a></li>
            <li><a href="#">Applicazioni</a></li>
            <li><a href="#">Bijoux</a></li>
            <li><a href="#">Editoria</a></li>
            <li><a href="#">Offerte</a></li>
        </ul>

        <div class="mobile-greeting mobile-only">
            <p>Ciao, Maurizio Capuano</p>
            <a href="#">Esci</a>
        </div>
    
        <ul class="mobile-menu hidden">
            <li><a href="./base.html">Home</a></li> <!-- diventerà index.html -->
            <li><a href="#">Tutto Borse</a></li>
            <li><a href="#">Filati</a></li>
            <li><a href="#">Attrezzi</a></li>
            <li><a href="#">Applicazioni</a></li>
            <li><a href="#">Bijoux</a></li>
            <li><a href="#">Editoria</a></li>
            <li><a href="#">Offerte</a></li>
        </ul>
    </nav>

    <!-- SEZIONE PRINCIPALE PER I CONTENUTI -->
    <main>
        <!-- Sezione delle categorie -->
        <section>
            <article>
                <img src="../upload/productimages/cattuttoborse.jpg" alt="Articolo per borse">
                <h2><a href="#">Tutto Borse</a></h2>
                <p>Manici, fodere e tutto il necessario per realizzare la tua nuova borsa preferita.</p>
            </article>
            <article>
                <img src="../upload/productimages/yarns.png" alt="Filati">
                <h2><a href="#">Filati</a></h2>
                <p>Sfoglia il catalogo e lasciati ispirare dai nostri filati per borse e per ricamo.</p>
            </article>
            <article>
                <img src="../upload/productimages/Aluminum-Crochet-Hooks-12-Pcs.webp" alt="Attrezzi">
                <h2><a href="#">Attrezzi</a></h2>
                <p>Ferri e uncinetti per le tue creazioni di maglia e uncinetto.</p>
            </article>
            <article>
                <img src="../upload/productimages/paillettes-classic-lilla-g716.jpg" alt="Applicazioni">
                <h2><a href="#">Applicazioni</a></h2>
                <p>Paillettes, perline, decorazioni in metallo e tutto ciò che ti può servire per la tua prossima creazione.</p>
            </article>
            <article>
                <img src="../upload/productimages/Screenshot (595).png" alt="Bijoux">
                <h2><a href="#">Bijoux</a></h2>
                <p>Filati, cristalli e gioielli per decorare le tue creazioni.</p>
            </article>
            <article>
                <img src="../upload/productimages/libro-uncinetto-tunisino-moderno.jpg" alt="Editoria">
                <h2><a href="#">Editoria</a></h2>
                <p>Libri, pdf scaricabili e gift card. Non si finisce mai di imparare!</p>
            </article>
        </section>
    
        <!-- Sezione del carosello di immagini FIXME: aggiorna link -->
        <section class="banner-categorie">
            <div class="carousel">
                <a href="./category-filati.html">
                    <img src="../upload/carousel/34de51df4c699c106f0315428811573f.jpg" alt="" class="carousel-image">
                    <p>Filati</p>
                </a>
                <a href="./category-borse.html">
                    <img src="../upload/carousel/774835f53adf64cba6a44e14bd653620.jpg" alt="" class="carousel-image">
                    <p>Borse</p>
                </a>
                <a href="./category-attrezzi.html">
                    <img src="../upload/carousel/b40758d4aaf80580a11d84b8539c8d47.jpg" alt="" class="carousel-image">
                    <p>Attrezzi</p>
                </a>
                <a href="./category-bijoux.html">
                    <img src="../upload/carousel/c1fac641bc876c42586dcfeed6ea0d86.jpg" alt="" class="carousel-image">
                    <p>Bijoux</p>
                </a>
            </div>
        </section>
    
        <!-- Sezione descrittiva del brand -->
        <section class="brand-info">
            <div class="brand-logo">
                <img src="../upload/logos/LOGO1.png" alt="Logo All You Knit">
            </div>
            <p>
                All You Knit, da oltre 30 anni, è un brand retrò che combina la passione per la maglieria con lo stile 
                groovy degli anni passati. I nostri filati e gomitoli, selezionati con cura, garantiscono morbidezza, 
                resistenza e colori vivaci che richiamano l'energia e la creatività di un’epoca unica. Coniughiamo tradizione 
                e design vintage per offrire materiali di alta qualità, perfetti per dare vita a progetti originali e duraturi.
            </p>
        </section>
    </main>
    
    <!-- Footer -->
    <footer>
        <p>All You Knit S.p.A</p>
        <p>© 1988 All rights reserved</p>
        <p>Via del Gomitolo 42, 45122 Cesena (FC)</p>
        <p>Tel. +39 322 8443012</p>
        <p>Email: info@allyouknit.it</p>
        <div class="brand-logo">
            <img src="../upload/logos/LOGOSCRITTA.png" alt="">
        </div>
        <div class="payment-icons">
            <span><img src="../upload/icons/cc-apple-pay-brands-solid.svg" alt=""></span>
            <span><img src="../upload/icons/cc-mastercard-brands-solid.svg" alt=""></span>
            <span><img src="../upload/icons/cc-visa-brands-solid.svg" alt=""></span>
        </div>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>
