<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All You Knit - Homepage</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- Header con logo e barra di ricerca -->
    <header>
        <div class="logo">
            <img src="#" alt="Logo All You Knit">
        </div>

        <form class="search-bar" action="#" method="get">
            <input type="text" placeholder="Cerca un prodotto">
            <button type="submit">🔍</button>
        </form>

        <div class="icons">
            <a href="./login.html" class="desktop-only">Ciao, Maurizio Capuano</a>
            <a href="./notifications.html">🔔</a>
            <a href="./cart.html">🛒</a>
        </div>

        <!-- Menu Hamburger -->
        <div class="hamburger-menu">
            <button id="menu-button">☰</button>
        </div>

    </header>

    <!-- Barra di navigazione -->
    <nav id="navbar">
        
        <ul class="desktop-menu">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./category.html">Filati</a></li>
            <li><a href="#">Tutto Borse</a></li>
            <li><a href="#">Attrezzi</a></li>
            <li><a href="#">Bijoux</a></li>
            <li><a href="#">Editoria</a></li>
            <li><a href="#">Offerte</a></li>
        </ul>

        <div class="mobile-greeting mobile-only">
            <p>Ciao, Maurizio Capuano</p>
            <a href="#">Esci</a>
        </div>
    
        <ul class="mobile-menu hidden">
            <li><a href="./index.html">Home</a></li>
            <li><a href="./category.html">Filati</a></li>
            <li><a href="#">Tutto Borse</a></li>
            <li><a href="#">Attrezzi</a></li>
            <li><a href="#">Bijoux</a></li>
            <li><a href="#">Editoria</a></li>
            <li><a href="#">Offerte</a></li>
        </ul>
    </nav>

    <!-- SEZIONE PRINCIPALE PER I CONTENUTI -->
    <main>
        <!-- remove hardcoded cats, insert here php template params-->
        <section>
            <article>
                <img src="#" alt="Articolo per borse">
                <h2><a href="#">Articoli per Borse</a></h2>
                <p>Manici, fodere e tutto il necessario per realizzare la tua nuova borsa preferita.</p>
            </article>
            <article>
                <img src="#" alt="Filati">
                <h2><a href="#">Filati</a></h2>
                <p>Sfoglia il catalogo e lasciati ispirare dai nostri filati per borse e per ricamo.</p>
            </article>
            <article>
                <img src="#" alt="Bijoux">
                <h2><a href="#">Bijoux</a></h2>
                <p>Filati, cristalli e perline per decorare le tue creazioni.</p>
            </article>
            <article>
                <img src="#" alt="Attrezzi">
                <h2><a href="#">Attrezzi</a></h2>
                <p>Ferri e uncinetti per le tue creazioni di maglia e uncinetto.</p>
            </article>
        </section>
        
    </main>
    <!-- Footer -->
    <footer>
        <p>All You Knit S.p.a</p>
    </footer>
    <script src="../js/script.js"></script>
</body>

</html>
