<section class="category-title">
    <h1>Filati</h1>
</section>

<!-- Elenco dei prodotti -->
<section class="product-list">
    <article class="product-item">
        <img src="#" alt="Bravissimo Batik Grano 500 gr">
        <h2>Bravissimo Batik Grano 500 gr</h2>
        <p><strong>11,90 $</strong></p>
    </article>

    <article class="product-item">
        <img src="#" alt="Bravissimo Batik Verde 200 gr">
        <h2>Bravissimo Batik Verde 200 gr</h2>
        <p><strong>8,90 $</strong></p>
    </article>
</section>