<main>
    <!-- Sezione delle categorie -->
    <section>
        <article>
            <img src="#" alt="Articolo per borse">
            <h2><a href="#">Articoli per Borse</a></h2>
            <p>Manici, fodere e tutto il necessario per realizzare la tua nuova borsa preferita.</p>
        </article>
        <article>
            <img src="#" alt="Filati">
            <h2><a href="#">Filati</a></h2>
            <p>Sfoglia il catalogo e lasciati ispirare dai nostri filati per borse e per ricamo.</p>
        </article>
        <article>
            <img src="#" alt="Bijoux">
            <h2><a href="#">Bijoux</a></h2>
            <p>Filati, cristalli e perline per decorare le tue creazioni.</p>
        </article>
        <article>
            <img src="#" alt="Attrezzi">
            <h2><a href="#">Attrezzi</a></h2>
            <p>Ferri e uncinetti per le tue creazioni di maglia e uncinetto.</p>
        </article>
    </section>

    <!-- Sezione del carosello di immagini FIXME: aggiorna link -->
    <section class="banner-categorie">
        <div class="carousel">
            <a href="./category-filati.html">
                <img src="#" alt="Filati" class="carousel-image">
                <p>Filati</p>
            </a>
            <a href="./category-borse.html">
                <img src="#" alt="Borse" class="carousel-image">
                <p>Borse</p>
            </a>
            <a href="./category-attrezzi.html">
                <img src="#" alt="Attrezzi" class="carousel-image">
                <p>Attrezzi</p>
            </a>
            <a href="./category-bijoux.html">
                <img src="#" alt="Bijoux" class="carousel-image">
                <p>Bijoux</p>
            </a>
        </div>
    </section>

    <!-- Sezione descrittiva del brand -->
    <section class="brand-info">
        <div class="brand-logo">
            <img src="#" alt="Logo All You Knit">
        </div>
        <p>
            All You Knit, da oltre 30 anni, è un brand retrò che combina la passione per la maglieria con lo stile groovy degli anni passati. I nostri filati e gomitoli, selezionati con cura, garantiscono morbidezza, resistenza e colori vivaci che richiamano l'energia e la creatività di un’epoca unica. Coniughiamo tradizione e design vintage per offrire materiali di alta qualità, perfetti per dare vita a progetti originali e duraturi.
        </p>
    </section>
</main>